
.persona-button {
color : #fff;
display : inline-block;
font-size : 14px;
font-family : Helvetica, Arial, sans-serif;
font-weight : bold;
line-height : 1.1;
overflow : hidden;
position : relative;
text-decoration : none;
text-shadow : 0 1px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
background : #297dc3;
background : linear-gradient(#43a6e2, #287cc2);
border-radius : 3px;
box-shadow : 0 1px 0 rgba(0, 0, 0, 0.2);
}
.persona-button:hover {
background : #21669f;
background : linear-gradient(#3788b9, #21669f);
}
.persona-button:active, .persona-button:focus {
top : 1px;
box-shadow : none;
}
.persona-button span {
display : inline-block;
padding : 5px 10px 5px 40px;
}
.persona-button span:after {
content : '';
display : block;
width : 31px;
position : absolute;
bottom : 0;
left : -3px;
top : 0;
z-index : 10;
}
.persona-button span:before {
content : '';
display : block;
height : 100%;
width : 20px;
position : absolute;
bottom : 0;
left : 0;
top : 0;
z-index : 1;
background : #42a9dd;
background : linear-gradient(#50b8e8, #3095ce);
border-radius : 3px 0 0 3px;
}
.persona-button:before {
background : #42a9dd;
content : '';
display : block;
height : 26px;
width : 26px;
position : absolute;
left : 2px;
top : 50%;
margin-top : -13px;
z-index : 0;
background : linear-gradient(-45deg, #3095ce, #50b8e8);
box-shadow : 1px -1px 1px rgba(0, 0, 0, 0.1);
transform : rotate(45deg);
}
.persona-button:after {
content : '';
display : block;
height : 100%;
width : 100%;
position : absolute;
left : 0;
top : 0;
bottom : 0;
right : 0;
z-index : 10;
border-radius : 3px;
box-shadow : 0 -1px 0 rgba(0, 0, 0, 0.3) inset;
}
.persona-button.dark {
background : #3c3c3c;
background : linear-gradient(#606060, #3c3c3c);
}
.persona-button.dark:hover {
background : #2d2d2d;
background : linear-gradient(#484848, #2d2d2d);
}
.persona-button.dark span:before {
background : #d34f2d;
background : linear-gradient(#ebac45, #d34f2d);
}
.persona-button.dark:before {
background : #d34f2d;
background : linear-gradient(-45deg, #d34f2d, #ebac45);
}
.persona-button.orange {
background : #ee731a;
background : linear-gradient(#ee731a, #d03116);
}
.persona-button.orange:hover {
background : #cb6216;
background : linear-gradient(#cb6216, #b12a13);
}
.persona-button.orange span:before {
background : #e84a21;
background : linear-gradient(#f7ad27, #e84a21);
}
.persona-button.orange:before {
background : #e84a21;
background : linear-gradient(-45deg, #e84a21, #f7ad27);
}
@font-face {
{
font-family : "'Ubuntu'";
font-style : normal;
font-weight : 400;
src : local('Ubuntu'), url(/static/Ubuntu-Font.woff) format('woff');
}
}
@font-face {
{
font-family : "'Ubuntu'";
font-style : normal;
font-weight : 700;
src : local('Ubuntu Bold'), local('Ubuntu-Bold'), url(/static/Ubuntu-Font-Bold.woff) format('woff');
}
}
body {
background-color : #7BAF04;
max-width : 600px;
margin-left : auto;
margin-right : auto;
padding : 2em;
font-family : Ubuntu, sans-serif;
}
h1 {
color : #0B3979;
}
img.logo {
height : 150px;
float : right;
}
.menu_link {
color : white;
background-color : #0088FF;
text-decoration : none;
font-weight : bold;
padding : 0.2em;
white-space : nowrap;
}
.menu_link a {
color : white;
text-decoration : none;
}
.menu_link:hover {
background-color : #0077EE;
}
section {
background-color : #FFFFFF;
margin-bottom : 1em;
padding : 2em;
padding-top : 1em;
box-shadow : 3px 3px 10px #000;
}
input[type="submit"] {
margin-top : 0.3em;
font-size : 24px;
color : blue;
}
