<html>
    <head>
        <!-- Making sure users of Internet Explorer can't use Compatibility Mode, as this will break Persona. -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <link rel="stylesheet" href="/static/persona-buttons.css" />

        <link rel="stylesheet" href="/static/16plus.css" />

        <meta charset="utf-8">  
        <title>Activités JSB 16+</title>
    </head>

    <body>
        <header>
            <img src='/static/16+logo.png' alt='logo' class='logo'/>
            <a href='/profil' class='persona-button blue'><span >Mon profil</span></a>
            <a href="#" id="signout" class="persona-button orange"><span>Se déconnecter</span></a>
            <div id="identifier">IDENTIFIER</div>
            <h1>Activités 16+</h1>
        </header>

        <div class='sections'>
            

            <section>
                <h2>Weekend de Septembre 2013 (27-29)</h2>
                <div class='description'>
                <p>Les 16+ prennent une nouvelle forme tant sur le plan du fonctionnement et que sur le format des activités. Et comme toujours, c’est à vous, participants avec l’aide des animateurs et des coordinateurs 16+ de créer votre nouvelle structure et mode de fonctionnement. Des outils de communication, de gestion de parole et de prise de désicions seront expliqués et ... testés directement ;-)</p>
                <p>Ce week-end d’accueil, de rêves collectifs, de réflexions et bien sûr d’animations scientifiques nous attend dans le paisible village de Pontaury.</p>
                <p>Prix : 30€ à verser sur le compte 16+ (BE56 0016 9424 9688). Il s’agit du prix prenant en compte les budgets minimum possibles (logement + nourriture sur place + matériel d’animation)</p>
                <p>Rendez-vous à 18h15 ou 19h15 à la gare de Tamines (accessible facilement depuis les grandes villes). De là, le voyage se terminera en voiture jusqu’au lieu d’hébergement. Pour le retour, on partira de l’endroit de camps dimanche, vers la gare de Tamines aux environs de 13h.</p>
                
                <p>Pour s’inscrire :<br>
                1. Complétez votre profil (en haut de cette page)<br>
                2. Compléter une fiche santé et droit à l’image (valable toute l’année) : <a href='http://www.jsb.be/uploads/Activites/fiche_medicale_et_droit_image.pdf'>Téléchargement</a><br>
                3. Compléter une autorisation parentale (A chaque week end, une nouvelle sera demandée). Elle vous sera envoyée par Elodie<br>
                4. Envoyer un mail à Elodie (elodie.chevillot@gmail.com) avec votre heure d’arrivée (18h15 ou 19h15). En effet, il n’y a que 10 places disponibles dans les voitures à chaque heure d’arrivé.<br>
                5. Verser 30€ sur le compte 16+ (BE56 0016 9424 9688)<br></p>
                
                <p>A prendre dans sa valise :<br>
                •	Son instrument de musique, ses plus beaux tours de magies, son costume de danse, etc.<br>
                •	Un protège matelas<br>
                •	Un sac de couchage ou une converture+drap housse<br>
                •	Une taie d’oreillé<br>
                •	Des vêtements et chaussure d’extérieure (Marche en forêt)</p>
                
                <p>Besoin de plus d’info ou d’un coup de pouce ? Dis Elo … elodie.chevillot@gmail.com</p>

                </div>
                <!--
                <div class='register'>
                    Pour participer à cette activité : 
                    <form action='/inscription' method='POST'>
                        <input type='hidden' name='event' value='septembre2003' />
                        <input type='submit' value="S'inscrire !" />
                    </form>
                    <i>En cas d'annulation, veuillez prendre contact par email ou téléphone</i>
                </div> 
                -->
            </section>
        </div>

        <script src="https://login.persona.org/include.js"></script>
        <script src="/static/leave.js"></script>
    </body>
</html>

Commit summary: Extended description: (optional)
Laurent5 Laurent5@users.noreply.github.com
