<html>
    <head>
        <!-- Making sure users of Internet Explorer can't use Compatibility Mode, as this will break Persona. -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <link rel="stylesheet" href="/static/persona-buttons.css" />

        <link rel="stylesheet" href="/static/16plus.css" />

        <meta charset="utf-8">  
        <title>Activités JSB 16+</title>
    </head>

    <body>
        <header>
            <img src='/static/16+logo.png' alt='logo' class='logo'/>
            <a href="#" id="signin" class="persona-button"><span>Se connecter</span></a>
            <div id="identifier">Anonyme</div>
            <h1>Activités 16+</h1>
        </header>

        <div class='sections'>
            <section>
                <h2>Que sont les 16+ ?</h2>
                <div class='description'>
                    <p>
                        Les activités 16+ des <a href='http://www.jsb.be'>Jeunesses Scientifiques de Belgique</a>
                        sont destinées aux jeunes à partir de 16 ans, qui sont intéressés par les sciences, la vie en collectivité, une dynamique d'autonomisation et les technologies.
                    </p>
                </div>
            </section>
            
            <div class='sections'>
            <section>
                <h2>S'inscrire au concept</h2>
                <div class='description'>
                    <p>S'inscrire au concept 16+, c'est être tenu au courant de chacune des activités 16+ des <a href='http://www.jsb.be'>Jeunesses Scientifiques de Belgique</a>. Ces activités ont lieu à une fréquence d'environ une par mois (hors période d'examens).</p>
                    <p>Il est possible de s'inscrire à une activité 16+ après s'être connecté et avoir rempli son profil personnel.</p>
                    <p>Pour vous inscrire au concept 16+ : <a href="#" id="signin2" class="persona-button"><span>Se connecter</span></a></p>
                </div>
            </section>

            <section>
                <h2>Week-end de Septembre 2013 (27-29)</h2>
                <div class='description'>
                <p>Les 16+ prennent une nouvelle forme tant sur le plan du fonctionnement et que sur le format des activités. Et comme toujours, c’est à vous, participants avec l’aide des animateurs et des coordinateurs 16+ de créer votre nouvelle structure et mode de fonctionnement. Des outils de communication, de gestion de parole et de prise de désicions seront expliqués et ... testés directement ;-)</p>
                <p>Ce week-end d’accueil, de rêves collectifs, de réflexions et bien sûr d’animations scientifiques nous attend dans le paisible village de Pontaury.</p>
                <p>Prix : 30€ à verser sur le compte 16+ (BE56 0016 9424 9688). Il s’agit du prix prenant en compte les budgets minimum possibles (logement + nourriture sur place + matériel d’animation)</p>
                <p>Rendez-vous à 18h15 ou 19h15 à la gare de Tamines (accessible facilement depuis les grandes villes). De là, le voyage se terminera en voiture jusqu’au lieu d’hébergement. Pour le retour, on partira de l’endroit de camps dimanche, vers la gare de Tamines aux environs de 13h.</p>
                <p>Plus d'informations en se connectant</p>
                
                
                <p>Pour s’inscrire :<br>
                1.	Se connecter sur le site 16plus.jsb.be<br>
                2.	Compléter son profil<br>
                3.	S’inscrire au week-end (une fois connecté, sur le site web)<br>
                4.	Compléter une fiche santé et droit à l’image (valable toute l’année) : <a href='http://www.jsb.be/uploads/Activites/fiche_medicale_et_droit_image.pdf'>Téléchargment</a><br>
                5.	Compléter une autorisation parentale (à chaque week-end, une nouvelle sera demandée)<br>
                6.	Envoyer par mail à Elodie votre heure d’arrivée (18h15 ou 19h15). En effet, il n’y a que 10 places disponibles dans les voitures à chaque heure d’arrivée.<br>
                7.	Verser 30€ sur le compte 16+ (BE56 0016 9424 9688)
                </p>
                </div>
            </section>
        </div>

        <script src="https://login.persona.org/include.js"></script>
        <script src="/static/join.js"></script>
    </body>
</html>
